* {
	margin:0 ;
	padding: 0;


}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/* Layout */

#a-cabecalho {
	background-color: #f7b600 ;
	padding: 15px;
	text-align: center;

}
#a-logo , #a-menu {
	padding: 10px;

}
#a-principal{
	
	width: 920px;
	margin: 0 auto;
	padding: 15px;

}
#a-postagens,#a-lateral{
	background-color:   ;
}
#a-postagens{
	width: 660px;
	float: left;
}
.postagem{
	padding: 20px;
	margin-bottom: 10px;
	background: white;
}
.conteudo-lateral{
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}
#a-lateral{
	width: 240px;
	float: right;

}
#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background:#ccc;
}
.postagem-lateal{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}


/* Formatações do Menu */
a{
	text-decoration: none;
}
a:link, a:visited {
	color: #f7b600;
	
}
a:hover{
	text-decoration: underline;

}

#a-cabecalho a:link, #a-cabecalho a:visited {
	color: #fff;
	padding: 8px 12px;
}
#a-cabecalho a:hover{
	background:#fff ;
	color: #f7b600;
	text-decoration: none;

}
/* Formatações Gerais */
h1{
	color: #4e4e4e;
	font-size: 2.5em;
}
h2{
	color: #f7b600;
}
h3{
	color: #565656;
	background: #ccc;
	padding: 5px;
}
.branco{
	color: white;
}
.data{
	font-size:0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

/* contato */
.contato{
	padding: 10px;
	color: #f7b600;
}



   
	